body {
  display: flex;
  flex-direction: column;
}

.navbar,
ul li a,
.herotext,
.footer a {
  color: #f23869;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #271640;
  padding: 16px;
  font-family: "Meow Script", cursive;
}

.logo {
  font-size: 32px;
}

.links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

ul li a {
  text-decoration: none;
}

.hero {
  background-color: #271640;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1,
p {
  margin: 8px 0 8px 0;
}

.herotext {
  width: 30%;
  flex: 0 1 auto;
}

.heroimage {
  width: 25%;
}

img {
  width: 70%;
  height: 70%;
}

.lowcontrast {
  color: #f2f2f2;
  font-size: 18px;
}

button {
  font-size: 14px;
  font-weight: bold;
  background-color: #f23869;
  color: #f2f2f2;
  padding: 8px;
  border-radius: 8px;
  border: none;
}

button:hover {
  background-color: #bb94f2;
  color: #180d26;
}

.information {
  background-color: #bb94f2;
  text-align: center;
  height: 50vh;
  gap: 32px;
}

.infocontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.info {
  text-align: center;
  padding: 10px;
  max-width: 200px;
}

.shade {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 0 auto;
}

.infoheader {
  color: #180d26;
  margin-bottom: 30px;
}

.one {
  background-color: #271640;
}

.two {
  background-color: #2e1652;
}

.three {
  background-color: #35136b;
}

.four {
  background-color: #41187e;
}

.description {
  font-weight: bold;
  margin-top: 8px;
}

.quote {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #271640;
}

.quotation {
  color: #f2f2f2;
  font-size: 28px;
  font-style: italic;
  width: 50vh;
  flex-shrink: 1;
}

.quotatee {
  width: 50vh;
  font-size: 20px;
  font-weight: bold;
  color: #f23869;
  display: flex;
  justify-content: flex-end;
}

.calltoarms {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #bb94f2;
}

.aubergine {
  width: 65%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  background-color: #271640;
  color: #f2f2f2;
}

.ctatext {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 70%;
}

.aubergine h2,
.aubergine p {
  margin: 5px;
}

.aubergine button {
  align-self: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #271640;
  color: #f2f2f2;
  height: 8vh;
  font-weight: bold;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  color: #bb94f2;
}
