body {
    display: flex;
    flex-direction: column;
}

.navbar,
ul li a,
.herotext {
color: #f23869
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #271640;
    padding: 16px;
    font-family: 'Meow Script', cursive;
}

.logo {
    font-size: 32px;
}


.links ul {
    list-style: none;
    padding: 0; 
    margin: 0;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    gap: 16px;
}

ul li a {
    text-decoration: none;
}

.hero {
    background-color: #271640;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1, 
p {
    margin: 8px 0 8px 0;
}

.herotext,
.heroimage {
    width: 30%;
    flex: 0 1 auto;
    
}

img {
    width: 70%;
    height: 70%;
}

.lowcontrast {
    color: #f2f2f2;
    font-size: 18px;
}

button {
    font-size: 14px;
    font-weight: bold;
    background-color: #f23869;
    color: #f2f2f2;
    padding: 8px;
    border-radius: 8px;
    border: none;
}

button:hover {
    background-color: #BB94F2;
    color: #180D26
}